<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration 
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
    <configuration>
        <typeAliases>
            <typeAlias type="com.bill.vo.fuelVO" alias="fuelVO"/>
            <typeAlias type="com.bill.vo.ChartVO" alias="ChartVO"/>
            <typeAlias type="com.bill.vo.CarMainVO" alias="CarMainVO"/>
            <typeAlias type="com.bill.vo.CarsMainVO" alias="CarsMainVO"/>
            <typeAlias type="com.bill.vo.CarLogVO" alias="CarLogVO"/>
            <typeAlias type="com.bill.vo.UserVO" alias="UserVO"/>
        </typeAliases>
        
    </configuration>
